html {
  scroll-behavior: smooth;
}

body{
	background-image: url("https://image.freepik.com/free-vector/light-blue-geometric-background_1053-684.jpg");
	background-repeat: repeat;
	background-size: 100%;
}
.container{
	width:100%;
}

.effect{
    margin: 0 15px;
    display:inline-block;
    
}

.effect:after{
     display:block;
  content: '';
  border-bottom: solid 3px #92a8d1;  
  transform: scaleX(0);  
  transition: transform 500ms ease-in-out;
}



.effect:hover:after {
transform: scaleX(1);
}


.dropdown{
    
    margin: 0 15px;

    
    
}


.dropdown:hover>.dropdown-menu {
  display: block;
             -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
      
 
    
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
