<!DOCTYPE html>
<html>
<head>
	<title>Lamcost</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../stylesheets/index.css">
	<script src="https://kit.fontawesome.com/4fc1c94b8a.js" crossorigin="anonymous"></script>
    <style>
     img {
               
        transition: transform 1s;}                
        
        
        img:hover {
                -ms-transform: scale(1.5); 
                -webkit-transform: scale(1.5);
                transform: scale(1.09); 
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
            
            
}
        
        .effect{
    margin: 0 15px;
    display:inline-block;
    
}

.effect:after{
     display:block;
  content: '';
  border-bottom: solid 3px #92a8d1;  
  transform: scaleX(0);  
  transition: transform 500ms ease-in-out;
}



.effect:hover:after {
transform: scaleX(1);
}

.dropdown{
    
    margin: 0 15px;

    
    
}


.dropdown:hover>.dropdown-menu {
  display: block;

      
 
    
}

.dropdown>.dropdown-toggle:active {
  
    pointer-events: none;
}

            
            
}
    </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="../landing.html"><span><i class="fab fa-sketch"></i></span>  Lamcost</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link effect" href="index.html">Home</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link effect" href="design.html">Designs</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          House Sections
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#f1">Bedrooms</a>
	          <a class="dropdown-item" href="#f2">Kitchen</a>
	          <a class="dropdown-item" href="#f3">Toilels/Bathrooms</a>
	          
	      </li>
	    </ul>
	    
	  </div>
	</nav>

	<div class="container">
	    <header class="jumbotron">
	        <div class="container">
	            <h1><span style="font-size: 0.8em"><i class="fab fa-sketch"></i></span>  Welcome to LamCost!</h1>
	            <p class="lead">These are some of our best domestic interior designs</p>
	            <hr class="my-4">
		        <p>Hope the designs will take away your heart and you find a good option for your Home.</p>
		    </div>
	    </header>
	</div>

	<section class="container px-0 mt-5" id="f1" style="padding: 10px 0 10px 0">
		<h1 class="text-center">Bedrooms</h1>
		<hr class="my-4">

		<div class="row text-center" style="display:flex; flex-wrap:wrap; padding-top: 10px">
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1559599189-fe84dea4eb79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1564618747909-9525769581ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1560067174-c5a3a8f37060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1584132905271-512c958d674a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1581404554128-5032fe7874be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1571512051140-becad1ff6a0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1587985064135-0366536eab42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1567111231229-8765962a4730?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                			
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1576675784432-994941412b3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                			
	            </div>
	        </div>
	    </div>
	</section>

	<section class="container px-0 mt-5" id="f2" style="padding: 10px 0 10px 0">
		<h1 class="text-center">Kitchen</h1>
		<hr class="my-4">

		<div class="row text-center" style="display:flex; flex-wrap:wrap; padding-top: 10px">
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1484154218962-a197022b5858?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1507089947368-19c1da9775ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1574118140754-ffaa1a51ea3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1594297234976-6865e5b467d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1577579242425-b323e6d61bd4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1588854337115-1c67d9247e4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1541123437800-1bb1317badc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1588854337236-6889d631faa8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                			
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1596205030734-7f2bb470ef09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                			
	            </div>
	        </div>
	    </div>
	</section>

	<section class="container px-0 mt-5" id="f3" style="padding: 10px 0 10px 0">
		<h1 class="text-center">Toilets/Bathrooms</h1>
		<hr class="my-4">

		<div class="row text-center" style="display:flex; flex-wrap:wrap; padding-top: 10px">
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1560448075-bb485b067938?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1584346651592-3aacc3c99075?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1507086182422-97bd7ca2413b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1507652313519-d4e9174996dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1512916958891-fcf61b2160df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1538430224529-7eceed6ab252?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1585128954430-22fe5b6acbea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1577582507696-abe2c1b20944?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                			
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1570544820842-e73cd90df808?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                			
	            </div>
	        </div>
	    </div>
	</section>

</body>
</html>