<!DOCTYPE html>
<html>
<head>
	<title>Lamcost</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../stylesheets/index.css">
	<script src="https://kit.fontawesome.com/4fc1c94b8a.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
	  <a class="navbar-brand" href="../landing.html"><span><i class="fab fa-sketch"></i></span>  Lamcost</a>
	  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse " id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto menu">
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Home
	        </a>
              
	        <div class="dropdown-menu " aria-labelledby="navbarDropdown">

              
                            
                  <a class="dropdown-item" href="#s1">About Us</a>
                  <a class="dropdown-item" href="#s2">Recent Projects</a>
	              <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#s3">Contact Us</a>
                  
                            
                
              </div>
              
                  
	      </li>
	      <li class="nav-item">
	        <a class="nav-link effect" href="design.html">Designs</a>
	      </li>
	    </ul>
	    
	  </div>
	</nav>

	<div class="container">
	    <header class="jumbotron">
	        <div class="container">
	            <h1><span style="font-size: 0.8em"><i class="fab fa-sketch"></i></span>  Welcome to LamCost!</h1>
	            <p class="lead">View our hand-picked Designs from all over the world</p>
	            <hr class="my-4">
		        <p>We have a collection of best ever designs which will take away your heart.</p>
		        <a class="btn btn-primary grad" href="design.html" role="button">View Our Designs</a>
	        </div>

	    </header>
	</div>

	<section class="container" id="s1">
		<h1 class="text-center">About Us</h1>
		<hr class="my-4">
		<div class="row align-items-center text-center" style="padding: 10px 0 10px 0">
			<div class="col-md-6 order-2 order-md-1">
				<img class="img-fluid" style="width: 100%" src="https://images.unsplash.com/photo-1526057565006-20beab8dd2ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
			</div>
			<div class="col-md-6 order-1 order-md-2">
				<div class="row  justify-content-center">
					<div class="col-10 col-lg-8 mb-5 mb-md-0">
						<h2>BACKGROUND  OF LAMCOST</h2>
						<p class="lead" style="color: black;font-size:1.5rem"> At <span style="text-decoration: underline; color: black">Lamcost</span> great interior design is our business and our passion. We believe that a house becomes a home when it’s personalized — your space should show off your tastes and personality, work with your lifestyle, and maybe make your guests a little jealous. We know that creating a home interior that does all of these things isn’t easy, and we’re here to help.							
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container px-0 mt-5" style="padding: 10px 0 10px 0">
		<div class="row align-items-center text-center px-0">
			<div class="col-md-6 order-2 order-md-1 ">
				<div class="row  justify-content-center">
					<div class="col-10 col-lg-8 mb-5 mb-md-0">
						<h2>BACKGROUND  OF LAMCOST</h2>
						<p class="lead" style="color: black;font-size:1.5rem">
							Our talented designers bring 12 years of experience to the table, couch, coffee table, or whichever furniture piece we’re sitting near. From discovering your personal style to knocking down that wall that’s been preventing the open-concept living area you’ve been lusting after, we’ll make sure that your space isn’t just aesthetically pleasing, but also a reflection of you
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 order-1 order-md-2">
				<img class="img-fluid" style="width: 100%" src="https://images.unsplash.com/photo-1505577058444-a3dab90d4253?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
			</div>
		</div>
	</section>

	<section class="container px-0 mt-5" id="s2" style="padding: 10px 0 10px 0">
		<h1 class="text-center">Recent Projects</h1>
		<hr class="my-4">

		<div class="row text-center " style="display:flex; flex-wrap:wrap; padding-top: 10px">
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail img">
	                <img style="width: 100%" src="https://fluentdesignpdx.com/uploads/3/5/9/4/35942999/editor/provenance-011-watermarked_1.jpg?1548369532">
	                <div class="caption ">
	                    <h4>PROVENANCE HOTELS HQ</h4>
	                </div>				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail img">
	                <img style="width: 100%" src="https://fluentdesignpdx.com/uploads/3/5/9/4/35942999/editor/fluent-11-watermarked.jpg?1548369525">
	                <div class="caption">
	                    <h4>WOLFE DENTAL</h4>
	                </div>				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail img">
	                <img style="width: 100%" src="https://fluentdesignpdx.com/uploads/3/5/9/4/35942999/editor/adpearance003-watermarked_2.jpg?1548369204">
	                <div class="caption">
	                    <h4>ADPEARANCE</h4>
	                </div>				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail img">
	                <img style="width: 100%" src="https://fluentdesignpdx.com/uploads/3/5/9/4/35942999/editor/ls-20-watermarked_1.jpg?1548369226">
	                <div class="caption">
	                    <h4>DIGITAL MARKETING AGENCY</h4>
	                </div>				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail img">
	                <img style="width: 100%" src="https://fluentdesignpdx.com/uploads/3/5/9/4/35942999/editor/6746116.jpg?1548369539">
	                <div class="caption">
	                    <h4>JAMA SOFTWARE</h4>
	                </div>				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail img">
	                <img style="width: 100%" src="https://fluentdesignpdx.com/uploads/3/5/9/4/35942999/editor/hnh-entry_1.jpg?1548365674">
	                <div class="caption">
	                    <h4>HATCH + HOOVES</h4>
	                </div>				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail img">
	                <img style="width: 100%" src="https://fluentdesignpdx.com/uploads/3/5/9/4/35942999/editor/7943444.jpg?1548365098">
	                <div class="caption">
	                    <h4>NEW MARKET THEATER</h4>
	                </div>				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail img">
	                <img style="width: 100%" src="https://fluentdesignpdx.com/uploads/3/5/9/4/35942999/editor/7917548.jpg?1548369766">
	                <div class="caption">
	                    <h4>LEGITSCRIPT</h4>
	                </div>				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail img">
	                <img style="width: 100%" src="https://fluentdesignpdx.com/uploads/3/5/9/4/35942999/editor/2360230.jpg?1548369770">
	                <div class="caption">
	                    <h4>AXIOM</h4>
	                </div>				
	            </div>
	        </div>
	    </div>
	</section>

	<div class="container" id="s3">
	    <header class="jumbotron">
	        <div class="container">
	            <h1 style="font-family: times new roman">Contact Us</h1>
	            <hr>
	            <div class="container" id="contact">
					<p>
						<span><i class="fas fa-phone-square-alt"></i></span>
                        Mobile No: <b id="c1">0000-000-000</b>  <button class="btn" onclick="copyToClipboard('#c1');copy()"><i class="fa fa-copy "></i></button>
                        
                        
					</p>
                    
					<p > 
						<span><i class="fas fa-tty"></i></span>
                        Phone: <b id="c2">0269-000-000 </b><button class="btn" onclick="copyToClipboard('#c2') ;copy() "><i class="fa fa-copy"></i></button><span id="custom-tooltip">copied!</span>
                        
					</p>
					<p>
						<span><i class="fas fa-envelope"></i></span>
                        Email: <b id="c3">lamcost18@gmail.com</b>  <button class="btn" onclick="copyToClipboard('#c3');copy()"><i class="fa fa-copy"></i></button>
                        
					</p>
                    
					<p>
						<span><i class="fas fa-map-marker-alt"></i></span>
						Address: Lamcost Interiors, Nr. Audi Motors, M.K.G Road, Kettlebruh city, 381291
					</p>
					<p>
						<span><i class="fab fa-facebook"></i></span>
						Facebook: Lamcost Originals
					</p>
					<p>
						<span><i class="fab fa-instagram-square"></i></span>
						Instagram: lamcost_org
					</p>
				</div>
	        </div>

	    </header>
	</div>
    
    <script>
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
        
function copy(){
    var Url = document.getElementById("c1");

    document.getElementById("custom-tooltip").style.display = "inline";
    
    setTimeout( function() {
        document.getElementById("custom-tooltip").style.display = "none";
    }, 1000);

};
        function copy(){
    var Url = document.getElementById("c2");

    document.getElementById("custom-tooltip").style.display = "inline";
    
    setTimeout( function() {
        document.getElementById("custom-tooltip").style.display = "none";
    }, 1000);

};
        function copy(){
    var Url = document.getElementById("c3");

    document.getElementById("custom-tooltip").style.display = "inline";
    
    setTimeout( function() {
        document.getElementById("custom-tooltip").style.display = "none";
    }, 1000);

};

</script>



</body>
</html>