<!DOCTYPE html>
<html>
<head>
	<title>Lamcost</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../stylesheets/index.css">
	<script src="https://kit.fontawesome.com/4fc1c94b8a.js" crossorigin="anonymous"></script>
    
    <style>
    img {
               
        transition: transform 1s;}                
        
        
        img:hover {
                -ms-transform: scale(1.5); 
                -webkit-transform: scale(1.5);
                transform: scale(1.09); 
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
        
        .effect{
    margin: 0 15px;
    display:inline-block;
    
}

.effect:after{
     display:block;
  content: '';
  border-bottom: solid 3px #92a8d1;  
  transform: scaleX(0);  
  transition: transform 500ms ease-in-out;
}



.effect:hover:after {
transform: scaleX(1);
}


.dropdown{
    
    margin: 0 15px;

    
    
}


.dropdown:hover>.dropdown-menu {
  display: block;

 
    
}

.dropdown>.dropdown-toggle:active {

    pointer-events: none;
}

    </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="../landing.html"><i class="fab fa-sketch"></i></span>  Lamcost</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link effect" href="index.html">Home</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link effect" href="design.html">Designs</a>
	      </li>
	    </ul>
	    
	  </div>
	</nav>

	<div class="container">
	    <header class="jumbotron">
	        <div class="container">
	            <h1><span style="font-size: 0.8em"><i class="fab fa-sketch"></i></span>  Welcome to LamCost!</h1>
	            <p class="lead">These are some of our best external designs</p>
	            <hr class="my-4">
		        <p>Hope the designs will take away your heart and you find a good option for your Place.</p>
		    </div>
	    </header>
	</div>

	<section class="container px-0 mt-5" id="f1" style="padding: 10px 0 10px 0">
		<h1 class="text-center">Outdoors</h1>
		<hr class="my-4">

		<div class="row text-center" style="display:flex; flex-wrap:wrap; padding-top: 10px">
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1598588436316-1e65ffcffc0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1576649169074-48514505a53d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1563211497-b9414d429a6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1569035560433-6113350a78a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1567462305195-f8e788ff2940?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1596445836561-991bcd39a86d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1591609402752-a50739af2b0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                				
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1585542855079-299953b5b11f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                			
	            </div>
	        </div>
	        <div class="col-md-4 col-sm-6" style="padding: 10px 10px 10px 10px">
	            <div class="thumbnail">
	                <img style="width: 100%" src="https://images.unsplash.com/photo-1586226975549-92f30bfd6f03?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	                			
	            </div>
	        </div>
	    </div>
	</section>

</body>
</html>